footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #5b359d;
}

footer p
{
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 23px;
    font-weight: 600;
}

#ResauSociaux
{
    height: 35px;
    width: 252px;
    display: flex;
    justify-content: space-between;
}

#ResauSociaux i
{
    font-size: 35px;
    color: #bdaed8;
}

#aPropos
{
    display: flex;
    justify-content: space-around;
    width: 1196px;
    height: 158px;
    margin-top: 11px;
}

.aPropos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.aPropos h2
{
    color: #adaed8;
}

.aPropos a
{
    text-decoration: none;
    color: white;
}

.aPropos li, .aPropos address
{
    color: white;
}