header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

#logo
{
    margin: auto 0;
}

#logo img
{
    width: 356px;
    height: 109px;
}

nav
{
    width: 235px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-content: center;
}

nav ul
{
    display: flex;
    justify-content: flex-end;
    align-content: center;    
    height: 26px;
    margin: auto;
}

nav li
{
    width: 88px;
    height: 26px;
    margin-right: 3px;
    list-style-type: none;
}

nav a
{
    text-decoration: none;
    color: black;
}