section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1004px;

}

#PremierArticle
{
    background-image: url(../Images/backgroung_image.jpg);
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#PremierArticle img
{
    width: 199px;
    height: 59px;
}

#PremierArticle p, #PremierArcticle h1
{
    text-align: center;
}

#PremierArticle h1
{
    color: white;
    width: 307px;
    height: 20px;
    font-size: 30px;
    font-weight: 400;
}

#SecondArticle
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 541px;
}

#intro
{
    width: 806px;
    height: 105px;
    color: #575757;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

#container1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 806px;
    height: 197PX;
    
}

.picto
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 281px;
    height: 186px;
}

.picto div
{
    text-align: center;
}

.picto h1
{
    text-align: center;
    height: 32px;
}

.picto p
{
    width: 232px;
    height: 66px;
    text-align: center;
    font-size: 12px;
    margin: auto;
}



#container2
{
    width: 605px;
    height: 117px;

}

#container2 p, #container2 cite
{
    color: #575757;
    font-size: 18px;
    text-align: center;
}